{% extends 'base.html' %}
{% block title %}All Projects{% endblock %}
{% block content %}
<div class="row mt-5">
    {% for project in projects %}
    <div class="col-sm-6 col-md-4 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_tasks' project_id=project.id %}" class="btn btn-primary">View Tasks</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
